<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      {% if site.logo %}
      <img src="{{ site.baseurl }}{{ site.logo }}">
      {% endif %}
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      {% if site.tagline %}
        <p class="tagline">{{ site.tagline }}</p>
      {% endif %}
      {% if site.description %}
        <p class="description">{{ site.description }}</p>
      {% endif %}
    </div>

    <nav class="sidebar-nav">
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for p in site.page_order %}
        {% for node in pages_list %}
          {% if p == node.name && node.title != null && node.layout == "page"%}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.basepath }}{{ node.url }}">{{ node.title }}</a>
            {% if node.url == page.url %}
              {% for section in page.sections %}
                <a class="sidebar-nav-item sidebar-subnav-item" href="{{ site.basepath }}{{ node.url }}#{{ section[1] }}">{{ section[0] }}</a>
              {% endfor %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}

      {% for node in pages_list %}
        
      {% endfor %}

      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>
  </div>
</div>
